.wap-footer-test-1 {
    border: 1px solid black;
    background-color: wheat;

    & p {
        font-size: 24px;
        text-align: center;
    }

    & div {
        display: flex;
        justify-content: center;
    }

    & img {
        border-radius: 0;
        width: 20px;
        text-align: center;
    }
}
