.home{

    .hero {
        width: 100%;
        padding: 108px 7%;
        position: relative;
        
        .hero-content {
            max-width: 800px;
            margin: 100px auto 0;
            gap: 3rem;
            color:$color3;
            
            h1 {
                font-size: 5rem;
                text-align: center;
            }
            
            p {
                font-size: 1.1rem;
                text-align: center;
                max-width: 600px;
            }
        
            button {
                font-size: 1.5rem;
                padding: 20px 40px;
                border-radius: 5px;
                background-color: $color2;
                color: white;
                box-shadow: inset 0 -13px 10px -10px #0d1b2d;
                
                transition: all 0.3s;
                
                &:hover {
                    filter: brightness(1.3);
                }
            }
        
            @include for-mobile-layout{
                h1{
                    font-size: 2.7rem;
                }
                p{
                    font-size: 1rem;
                }
            }
        }
    }
}