.teaser {
    background-color: #dedede;
    padding: 80px 100px;
    
    .img-container {
        width: 80%;
        margin: auto;
    }
    img {
        width: 100%;
        border-radius: 10px;
    }
}
