.teaser {
    // background-color: $color1;
    padding: 80px 100px 0;
    position: relative;
    z-index: 1;
    
    .img-container {
        width: 80%;
        margin: auto;
    }
    img {
        width: 100%;
        border-radius: 10px;
    }
}
