.wap-gallery-3{
   display: grid;
   grid-template-columns: repeat(auto-fill,250px);
   grid-auto-rows: 250px;
   gap: 80px;
   place-content: center;
   
   img{
      transform: translateY(-125px);
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all .3s;
      
      &:hover{
         transform: translateY(-135px) scale(1.1);
      }
   }
   
   // &.media-1200{
   //    gap: 100px 90px;
   // }
}