.wap-section-1 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .pacifico-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
            margin-inline-end: 10px;
            margin-inline-start: 10px;
        }
    }

    .pacifico-main {
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 90px;

        & > span:last-of-type {
            margin: 0 auto;
            a {
                height: 35px;
                border: solid 1px black;
                padding: 10px;
                border-radius: 20px;
            }
        }
    }
}
