.wap-card-1-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 7rem 6rem;
    gap: 3rem;
    max-width: 100%;
    min-width: 20%;
    width: 100%;

    & > :first-child {
        max-width: 42.5rem;
    }

    div p {
        padding: 10px;
    }

    & > :last-child span {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        padding: 0rem;
        flex: 1 1 0%;
    }
}
