.wap-card-7-2 {
    border: 7px solid #00c3ad;

    &.media-800 {
        .cards-container {
            grid-template-columns: 1fr;
        }
    }
    .cards-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 15px;
    }

    .card {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        border: 5px solid #ef4b4d;
    }

    .btn {
        padding: 5px;
        border: 5px solid #ef4b4d;
    }
}
