.wap-card-6{
   gap: 40px;

   .cards-container{
      display: grid;
      grid-template-columns: repeat(auto-fit, 250px);
      grid-auto-rows: auto;
      gap: 80px;
      place-content: center;
      
      
      .card{
         height: 100%;
         
         &>*{
            flex: 1;
         }
         
         .card-details{
            border: #4a4a4a 1px solid;  
            width: 90%;
            height: 100%;
            margin: auto;
            padding-bottom: 40px;
         }
         
         img{
            max-height: 400px;
            transform: translateY(-2px);
            filter: grayscale(0.6);
         }
      }
   }
}