.wap-card-8{

   .layout-container{
      width: 90%;
      margin: auto;
      flex-wrap: wrap;
      gap:30px;
      justify-content: space-around;
      
      .card{
         width: 400px;
         border-radius: 20px;
         height: 100%;
         transition: transform .2s;

         &:hover{
            transform: translateY(-7px);
         }
         
         .upper-container{
            align-items: center;
            position: relative;
            
            .card-header{
               gap: 10px;
            }
         }
         
         &>span{
            &>p{
               position: relative;
               padding-block: 15px;
               line-height: 1.5;
               
               &::after {
                  content: "";
                  display: block;
                  width: 100%;
                  height: 1px;
                  background-color: rgb(238, 238, 238);
                  position: absolute;
                  top: 0;
               }
            }
         }
      }
   }
   
   &.media-1000{
      .layout-container{
         gap: 10px;
         
         .card{
            width: 350px;
         }
      }
   }
   
   &.media-800:not(.media-600){
      .layout-container{
         justify-content: unset;
         &>*:nth-child(odd){
            margin-left: auto;
         }
         &>*:nth-child(even){
            margin-right: auto;
         }
      }
   }
   
   &.media-600{
      .layout-container{
         .card{
            width: unset;
         }
      }
   }
}

// .iphone-frame{
//    position: absolute;
//    z-index: 500000;
// }