.editor-page {
   display: grid;
   grid-template-columns: $sidebar-width 1fr;
   overflow: auto;
   max-height: calc(100vh - $header-height);
   
   @include for-tablet-layout{
      grid-template-columns: $sidebar-tablet-width 1fr;
      max-height: calc(100vh - $header-tablet-height);
   }
   
   @include for-mobile-layout{
      grid-template-columns: 1fr;

   }

   //Garbage
   &.drag-active{
      .garbage{
         opacity: 1;
         right: 20px;
      }
   }
   .garbage{
      transition: all .2s;
      grid-column: 2/3;
      position: fixed;
      right: -50px;
      bottom: 20px;
      background-color: rgba(185, 58, 58, 0.397);
      font-size: 4rem;
      width: 78px;
      text-align: center;
      border-radius: 50%;
       z-index: 5005;
      opacity: 0;
   }

   //Save-Publish on mobile
   &>.save-publish-container {
      display: none;

      @include for-mobile-layout{
         display: flex;
         position: fixed;
         top: 0;
         left: 0;
         padding:8px 10px;
         z-index: 5100;

        
        .media-btns,.work-together-btn{
            display: none;
        }
      }
   }
}
