// Colors
$color1: #eeeeee;
$color2: #1d375a;
// $color2: #2564e1;
// $color2: #904bcf;
$color3: #2b3039;
// $color1: #e7ecef;
// $color2: #3a7ca5;
// Fonts
$main-font: Montserrat, "sans-serif";
$sub-font: Bitter, "serif";
$hand-font: Mali, "cursive";
// Text
$line-height: 28px;
// Sizes
$header-height: 70px;
$minimized-header-height: 30px;
$sidebar-width: 310px;
$border-radius: 5px;