.main-header {
    height: 60px;
    background-color: $color3;
    color: $color1;

    & .header-content {
        height: 100%;

        .logo {
            font-size: 2.2rem;
        }
        .nav-menu {
            gap: 1rem;
        }
    }
}
