.main-header {
    height: $header-height;
    // background-color: $color1;
    padding: 0 30px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    font-weight: 500;

    transition: all 1s;

    &.active-scroll-1 {
        background-color: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(4px);
    }

    &.active-scroll-2 {
        background-color: rgba(255, 255, 255, 0.75);
        backdrop-filter: blur(6px);
    }

    &.active-scroll-3 {
        background-color: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(8px);
    }

    .logo img {
        display: block;
    }

    .nav-menu {
        gap: 3rem;
        font-size: 0.9rem;
        .nav-link {
            &:hover {
                opacity: 0.6;
            }

            &.active {
                color: $color2;
                font-weight: 700;
            }
        }
    }

    .btn-login {
        padding: 8px 16px;
        // border-radius: 5px;
        // border: 1px solid $color2;
        border-block-end:1px solid $color2;
        gap: 10px;
        font-size: 1rem;
        font-family: $main-font;
        font-weight: 500;
        background-color: inherit;

        transition: all 0.3s;

        &:hover {
            background-color: $color2;
            color: $color1;
        }

        svg {
            font-size: 20px;
        }
    }
}

// Used for EditorPage positioning
.placeholder {
    height: $header-height;
}
