.login {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 300px;
    padding: 2rem;
    background-color: $color3;
    color: $color1;
    border-radius: 10px;

    
    i {
        width: 30px;
        height: 30px;
        font-size: 1.5rem;
        position: absolute;
        top: 5px;
        right: 5px;
        border-radius: 5px;
        user-select: none;
        cursor: default;

        transition: background-color 150ms;

        &:hover {
            background-color: tomato;
        }
    }

    .pfp {
        width: 60px;
        height: 60px;
        background-color: $color1;
        margin: 0 auto 20px;
        border-radius: 50%;

        img {
            width: 100%;
        }
    }

    form {
        gap: 20px;

        .wrapper {
            gap: 10px;
        }

        input {
            padding: 10px;
            border-radius: 3px;
        }

        button {
            margin: unset;
            padding: 5px 10px;
            border-radius: 3px;
        }
    }

    .google-login {
        border: 1px solid #4285f4;

        button {
            background-color: #4285f4;
        }
    }

    .facebook-login {
        border: 1px solid #3b5998;
        color: #3b5998;

        button {
            background-color: #3b5998;
        }
    }

    .google-login,
    .facebook-login {
        width: 100%;
        height: 35px;
        margin: 20px auto;
        border-radius: 3px;

        .icon {
            width: 36px;
            height: 100%;
            background: #fff;
        }

        button {
            flex-grow: 1;
            padding: 10px;
            color: white;
        }

        &:hover {
            cursor: pointer;
            filter: brightness(1.1);
        }
    }

    span {
        text-decoration: underline;
        color:#a15fde;
        cursor: pointer;

        &:hover {
            text-decoration: none;
        }
    }
}
