.wap-header-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    // NAV-LINKS CONTAINER
    span:nth-child(2) div {
        display: flex;
        gap: 20px;
    }

    // CONTACT-US BTN
    & > span {
        & > a:last-of-type {
            padding: 15px 30px;
        }
    }
}
