.add-accordion{
   max-height: calc(100vh - $header-height - 120px - 233px);
   overflow-y: auto;
   padding: 0 13px;

   &::-webkit-scrollbar {
      width: 10px;
   }

   &::-webkit-scrollbar-track {
      margin-top: 5px;
   }

   .template-thumbnail{
      position: relative;
      width: 100%;
      border-radius: 5px;
      box-shadow: 1px 1px 5px 1px gray;
   }
}