.editor-board{
   margin: 15px;
   background-color: white;
   box-shadow: grey 0 0 5px 2px;
   grid-column: 2/3;


   &:hover{
      cursor: pointer;
      // cursor: grab;
   }

   .edit-active ,.element-hover{
      outline: gray dashed 2px;
   }
}