.editor-sidebar {
    background-color: $color3;
    height: calc(100vh - $header-height);
    width: $sidebar-width;
    border-top: 1px solid #404757;
    position: fixed;

    .tab {
        flex-grow: 1;
        padding: 1rem 0;
        text-align: center;
        background-color: #404757;
        color: rgba(255, 255, 255, 0.5);
        font-size: 1.5rem;
        font-weight: 700;
        cursor: pointer;

        &.active {
            background-color: $color3;
            color: white;
        }
    }
}
