.editor-sidebar {
    background-color: $color3;
    height: calc(100vh - $header-height);
    width: $sidebar-width;
    border-top: 1px solid #404757;
    position: fixed;

    .tab {
        flex-grow: 1;
        padding: 1rem 0;
        text-align: center;
        font-size: 1.3rem;
        cursor: pointer;

        background-color: #404757;
        color: rgba(255, 255, 255, 0.5);

        &.add {
            box-shadow: inset -2px -2px 4px 0px #0000008c;
        }

        &.edit {
            box-shadow: inset 2px -2px 4px 0px #0000008c;
        }

        &.active {
            background-color: $color3;
            color: white;
            box-shadow: unset;
        }
    }

    .style-inputs {
        gap: 20px;

        font-size: 0.9rem;

        & > *:not(.upload-img-label) {
            display: flex;
            justify-content: space-between;
            align-items: center;

            button {
                padding: 10px;
                background: transparent;
                color: inherit;
                font-size: 1.2rem;
            }

            button:last-child {
                padding-right: 0;
            }
        }
    }
}

.url-input {
    height: 35px;
    border-radius: 5px;
    padding: 3px;
    background-color: #ffffffd5;
    &:focus-visible {
        background-color: #fff;
        border: 1px solid #fff;
    }
}

.upload-img-label {
    background-color: rgba(255, 255, 255, 0.212);
    color: rgb(255, 255, 255);
    font-weight: 500;
    border-radius: 1000px;
    padding: 12px 12px;
    text-align: center;
    cursor: pointer;
    width: fit-content;
    gap: 20px;
    margin: auto;
    transition: 200ms;
    &:hover {
        background-color: rgba(255, 255, 255, 0.966);
        color: #663399;
    }
}

.remove-el-btn {
    display: block;
    margin: 30px auto;
    padding: 8px 20px;
    border-radius: 1000px;
    background-color: rgba(255, 255, 255, 0.212);
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 200ms;
    &:hover {
        background-color: rgba(255, 255, 255, 0.966);
        color: #1b1b1b;
    }
}
