.editor-board{
   margin: 5px 15px 15px;
   background-color: white;
   box-shadow: 0px 1px 8px 0px #808080;
   grid-column: 2/3;
   min-height: calc(100vh - $header-height - 30px);

   :focus-visible{
      outline: none
   }

   &:hover{
      cursor: pointer;
      // cursor: grab;
   }

   .delete-element-btn{
      font-size: 0.8rem;
      text-align: center;
      position: absolute;
      right: 0;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      // border-bottom-left-radius:100%;
      background: rgba(219, 57, 57, 0.788);

      &:hover{
         outline: none;
         cursor: pointer;
      }
   }
   
   .edit-active ,.element-hover{
      outline: gray dashed 1px;
   }

   .choose-template  {
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: $hand-font;
      font-size: 1.5rem;
   }


   input{
      border: none;
      outline: none;
      padding: 7px;
      border-radius: 3px;
   }
}