.edit-accordion {
    max-height: calc(100vh - $header-height - 20px - 233px);
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 13px;

    @include for-mobile-layout{
        flex-direction: column-reverse;
        display: flex;
    }

    @include for-mobile-layout{
        overflow-y: unset;
        max-height:unset ;
    }

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        margin-top: 5px;
    }
}

#mui-component-select-textShadow,
#mui-component-select-fontFamily {
    padding: 5px 10px;
    outline: none;
}

.toast {
    z-index: 1000;
}
