.wap-actions {
    gap: 1rem;
    margin-bottom: 2rem;
    .media-btns {
        gap: 1.5rem;
    }

    & > *:not(:last-child) {
        cursor: pointer;
    }

    svg {
        transition: 200ms;
    }

    svg:hover {
        transform: scale(1.3);
    }
    .save-publish-container {
        gap: 1.5rem;
    }

    .save-publish-btn {
        margin: auto;
        padding: 8px 20px;
        border-radius: 1000px;
        border: 1px solid $color2;
        cursor: pointer;
        transition: 200ms;
        &:hover {
            background-color: $color2;
            color: white;
        }
    }
}
