.wap-actions {
    gap: 1rem;
    margin-bottom: 2rem;

    @include for-mobile-layout{
        display: none;
    }
    
    .media-btns {
        gap: 1rem;

    }
    
    svg {
        transition: .1s;
            cursor: pointer;
    }

    svg:hover {
        transform: scale(1.1);
        opacity: 0.9;
    }



    .work-together-btn{
        text-decoration: none;
        color: #1c1c1e;
        border: 1px solid #1d375a;
        background-color: #d3d4f00c;
        padding: 5px;
        border-radius: 5px;
        transition: all .2s;
        font-size: 0.9rem;
        display: flex;
        gap: 8px;
        align-items: center;
        
        &:hover{
            // background-color: #1d375ab0;
            background-color: #1d375a;
            color: rgb(245, 245, 245);
        }
    }
}