.wap-header-8{

   .layout-container{
      max-width: 90%;
      margin: auto;

      .header{
         align-items: center;
         justify-content: space-between;

         .nav{
            gap:8px;
         }
         
         .media-icons{
            align-items: center;
            gap: 13px;
            
            img{
               filter: brightness(500);
            }
         }
      }
      .hamburger{
         display: none;
      }
   }

   &.media-600{
      .nav{
         display: none;

      }
      .hamburger{
         display: inline;
      }
   }
}