.wap-header-4 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > :first-child {
        gap: 1rem;
        padding: 10px 5px;
    }

    & > :nth-child(2) div {
        display: flex;
        gap: 1rem;
    }
}
