.wap-hero-1 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    padding: 100px;
    & > span {
        &:first-of-type p {
            padding: 20px;
        }

        &:last-of-type {

            & div {
                margin-top: 1rem;
            }

            a {
                border: 3px solid white;
                padding: 15px 25px;
                background-color: none;
            }
        }
    }
}
