.wap-hero-1 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    & >span:first-of-type p {
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 90px;
    }

    & >span:last-of-type {
        margin: 0 auto;
        text-align: center;
        // width: fit-content;
        // display: flex;
        // padding: 5px 10px;
        // border: solid 1px black;
    }
}