.wap-hero-5 {
    height: 80vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    // background-attachment: fixed;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr 450px;

    & > span {
        grid-row: -1/-2;
        grid-column: -1/-2;
    }

    .wap-hero-5-content {
        :nth-child(2) p {
            min-width: 500px;
        }

        a {
            display: block;
            padding: 15px 30px;
            border: 1px solid white;
        }
    }
}
