.wap-hero-1 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    & > :first-child {
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            margin-inline-end: 10px;
            margin-inline-start: 10px;
        }
    }

    & > :last-child {
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 90px;

        & > a:last-of-type {
            margin: 0 auto;
            a {
                height: 35px;
                border: solid 1px black;
                padding: 5px 10px;
            }
        }
    }
}
