.collection-page {
    padding: 30px 7%;
    display: flex;
    flex-direction: column;
    gap: 40px;

    * {
        text-decoration: none;
        color: $color3;
    }

    .head {
        gap: 10px;
    }

    .collection-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, 300px);
        gap: 45px;
        align-self: center;

        .preview {
            gap: 10px;
        }

        .scratch-thumbnail {
            display: flex;
            flex-direction: column;
            gap: 5px;

            & > :first-child {
                height: 23px;
            }

            & > :last-child {
                flex-grow: 1;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 800;
                font-size: 1.2rem;
                box-shadow: inset 0 0 12px 0px #616161;
                padding: 4px;
            }
        }

        .btn-container {
            gap: 20px;
        }

        & .update-remove-btn {
            background-color: #fff;
            border: 2px solid black;
            transition: all 0.3s;
            display: flex;
            flex-grow: 1;
            align-items: center;
            justify-content: center;
            padding: 4px;
            font-weight: 600;
            color: #1b1b1b;

            &:hover {
                background-color: #1b1b1b;
                color: #fff;
            }
            p {
                font-weight: 800;
                font-size: 4rem;
            }
        }

        .wap-thumbnail {
            gap: 15px;

            img {
                width: 100%;
                box-shadow: 1px 1px 8px 0px;

                &:hover {
                    opacity: 0.8;
                }
            }

            div {
                text-align: start;
                text-transform: uppercase;
                font-size: 1.2rem;
            }
        }
    }
}
